:root {
    --color-one: #7D3986;
    --color-two: #68436C;
    --color-three: #411447;
    --color-four: #2A062C;
    --color-five: #AAAAAA;
    --color-six: #7E7E7E;
    --color-seven: #373737;
    --title: 2.5rem;
    /* Títulos principales */
    --subtitle: 1.75rem;
    /* Subtítulos */
    --title-card: 1.25rem;
    /*titulos de tarjetas*/
    --text: 1rem;
    /* Texto normal */
    --small-text: 0.85rem;
    /* Texto pequeño */
    --caption: 0.75rem;
    /* Leyendas o texto de apoyo */
}
.sidebar{
  width: 100%;
    
}
.sidebar-content{
    background-color: var(--color-six);
}
.sidebar-nav{
    background-color: var(--color-two);
    font-size: 1rem;
    border-radius: 0.5rem ;
    font-style: none;
    color: #fff;


}


