:root {
    --color-one: #7D3986;
    --color-two: #68436C;
    --color-three: #411447;
    --color-four: #2A062C;
    --color-five: #AAAAAA;
    --color-six: #7E7E7E;
    --color-seven: #373737;
    --title: 2.5rem;
    /* Títulos principales */
    --subtitle: 1.75rem;
    /* Subtítulos */
    --title-card: 1.25rem;
    /*titulos de tarjetas*/
    --text: 1rem;
    /* Texto normal */
    --small-text: 0.85rem;
    /* Texto pequeño */
    --caption: 0.75rem;
    /* Leyendas o texto de apoyo */
}

.newWorkspace-box {
    background-color: #Fff;
    padding: 2rem;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.btn-newWorkspace-back {
    width: 100%;
    justify-content: right;
}

.tt-newWorkspaceScreen {
    font-weight: 500;
}

.form-newWorkspaceScreen {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.input-newWorkspaceScreen{
    width: 100%;
}

.btn-newWorkspaceScreen {
    width: 100%;

}