*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: libre-baskerville-regular, serif;
}


  body{
    background: linear-gradient(deg, #F4F1DE, #E07A5F);
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}

.container{ padding-inline: 14%; }
